<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3" />
    </startup>

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <namespace name="MVVMExample.Model.Coin" />
      <namespace name="MVVMExample.Model.Drink" />
      <assembly name="MVVMExample" />
        <container>
          <register type="IDrinkList" mapTo="DrinkXmlList">
            <lifetime type="singleton" />
            <constructor>
              <param name="nameXml" value="xml\testDrink.xml" />
            </constructor>
          </register>
          <register type="ICoinList" mapTo="CoinXmlList">
            <lifetime type="singleton" />
            <constructor>
              <param name="nameXml" value="xml\testCoin.xml" />
            </constructor>
          </register>
        </container>
        <container name="Const">
          <register type="IDrinkList" mapTo="DrinkConstList">
            <lifetime type="singleton" />
          </register>
          <register type="ICoinList" mapTo="CoinConstList">
            <lifetime type="singleton" />
          </register>
        </container>
  </unity>
</configuration>